/*******************************************************************************************
                  colours:
                   #d7263d red
                   #ffce3d yellow
                   #f9f8f8 white
                   #0e5268 light blue
                   #011627 dark blue



*******************************************************************************************/
.body{
margin: 0;
	padding: 0;
}
.dropdown a{
	color: #d7263d;
	font-size: 15px;
	padding-right: 15px;
}
.dropdown a:hover{
	color: white;
}
h4{
	color: black;
}
.main-content{
background-color:#0e5268;
}
.logo a{
	color:#f9f8f8;
	font-size: 40px;
	font-weight: 300;
	text-decoration: none;
}
.logo{
	padding:20px;
	padding-bottom: 10px;
}

.search{
	margin-right:50px;

	
}
.topnavbar{
	margin-left:5px;
	padding-left: 0px;
		margin-bottom:25px;
}
.topnavbar input[type=text] {
	width: 700px;
	height: 30px;
    padding: 20px;
   
    font-size: 17px;
}
.topnavbar{
	list-style: none;
	
}
.topnavbar li{
	display: inline-block;
}
.btn{
	background: #d7263d;
	color: #f9f8f8;
	padding:10px;
	margin-left: 20px;
	margin-bottom:5px;
	font-size: 16px;
	overflow: none;
}
.navbar .nav > li > a{
	color:#0e5268; 
	line-height:30px;
/*	padding-bottom: 0px;*/
	font-size: 20px;
}
.navbar .nav > li > a:hover{
	color: #011627;
}
.navbar-brand i{
	color: black;
	font-size: 25px;
}

.copy-rights,.copy-rights a{
background-color:#777;
color: white;
padding: 20px;
text-decoration: none;}
.social-icons li{
	display: inline-block;
	list-style: none;
	padding: 5px;
}
.list{
list-style:circle;
	font-size: 14px;
}
.heading{
	color: black;
	font-size:20px;
}

@media screen and (max-width: 600px) {
    .topnav input[type=text] {
        float: none;
        display: block;
        text-align: left;
 
		width: 100%;
        margin: 0;
        padding: 14px;
    }
    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}

/*login in*/
.nav-tabs {
    margin-bottom: 15px;
}
.sign-with {
    margin-top: 25px;
    padding: 20px;
}
div#OR {
    height: 30px;
    width: 30px;
    border: 1px solid #C2C2C2;
    border-radius: 50%;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
    font-size: 12px;
    float: right;
    position: absolute;
    right: -16px;
    top: 40%;
    z-index: 1;
    background: #DFDFDF;
}
.modal-header{
    border-bottom: none;
}
.modal-content{
    width: 500px;
    height: auto;
}
.col-sm-10 input[type=text]{
width: 372px;
}
/*centre*/
.movie-section{
background-color:#f9f8f8
}
.movie li{
display: inline-block;
	list-style: none;
	
}
.movie h2{
padding-left:25px;
}
.movie a{
	padding:15px;
	color:#666;
	font-size: 20px;
	
}
.movie a:hover{
	text-decoration: none;
	color:  #0e5268;
}

.state-icon {
    left: -5px;
}
/* DEMO ONLY - REMOVES UNWANTED MARGIN */
.well .list-group {
    margin-bottom: 0px;
}
.well{
padding: 0px;
}

.list-group-item a{
	font-size: 16px;
	color: #666;
		text-decoration: none;
}
.list-group-item a:hover{
	
	color:#d7263d;
	
}
.list-group-item{
	border: none;
}
.card{
border: 1px solid #ddd;
	background-color: white;
	height: 450px;
	
	margin-top: 15px;
	margin-right: 50px;
}
.card p{
font-size: 20px;
	border-bottom:  1px solid #666;;
	padding: 10px;
	color: #d7263d
}
.language{
padding-bottom: 10px;
	padding-top: 10px;
	list-style: none;
}
.language a{
	font-size:18px
}
.language a:hover{
	text-decoration: none;
}
.languages li{
	border-bottom: 1px solid #ddd;

}
.movie-details li{
	display: inline-block;
	list-style: none;
	padding-right: 3px;
	font-size: 16px;
}
.movie-details li a
{
	padding-right: 3px;
	font-size: 16px;
	color: #ccc;
}

.movie-details li i{
color: red;
}
.movie-image{
margin-bottom:30px;
}
/*About Us*/
.about-grids{
  margin: 3em 0 2em 0;
}
.about-left-grids {
  padding: 2em;
  border: solid 1px #B2B2B2;
}
.about-left-img {
  padding-left: 0;
}
i.fa.fa-clock-o{
	
	color:#bbb;
	padding-right: 5px;

}
i.fa.fa-sitemap{
font-size: 60px;
	color:#2978A0;
}
i.fa.fa-book {
	font-size: 60px;
	color:#d7263d;
}
i.fa.fa-pencil-square-o{
	font-size: 60px;
	color:#FF6700;
}
i.fa.fa-users{
	font-size: 60px;
	color:#1768ac;
}
i.fa.fa-mobile {
	font-size:80px;
	color:#7DD181;
}
.about-left-img img{
	width:100%;
}
.about-left-info a{
  font-size: 20px;
  color: #003b64;
  margin: 0 0 .5em 0;
  font-weight: 600;
  text-decoration: none;
}
.about-left-info p{
	font-size: 14px;
	color: #818181;
	margin: 0;
	line-height: 1.8em;
}
.about-bottom-grids:nth-child(2) {
  margin-top: 2em;
}
.about-bottom-grids:nth-child(3) {
  margin-top: 2em;
}
.tab-grid h3 {
  font-size: 17px;
  margin: 0;
  font-weight: 600;
  color: #0e5268;
}
.tb-one {
    margin-bottom: 1.5em;
}
.tb-two {
    margin-top: 0.5em;
}
.tab-grid p {
	color: #8B8B8B;
  font-size: 0.95em;
  line-height: 1.8em;
  font-weight: 400;
}
.tb-one input[type="text"]:nth-child(1), .tb-one input[type="text"]:nth-child(3) {
  margin-right: 23px;
}
.tb-one input[type="text"] {
  width: 48.2%;
  font-size: 13px;
  margin: 7px auto;
  color: #474747;
  background: #f3f3f3;
  padding: 10px 10px;
  outline: none;
  border: none;
  font-family: 'Open Sans', sans-serif;
}
.tb-one input[type=submit] {
  color: #414141;
  padding: 9px 24px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  border: 2px solid #282828;
  background: #fff;
  float: right;
    font-family: 'Open Sans', sans-serif;
}
.tb-one input[type=submit]:hover {
	color:#fff;
	background-color:#003b64;
  border: 2px solid #003b64;
}
.tb-one textarea {
  width: 100%;
  margin: 4px 0;
  font-size: 13px;
  color: #474747;
  resize: none;
  background: #f3f3f3;
  height: 150px;
  padding: 15px;
  outline: none;
  border: none;
  font-family: 'Open Sans', sans-serif;
}
/*-- contact --*/
.contact {
	padding:1em;
}
.contact p {
	text-align:center;
}
.c-map iframe{
	width:100%;
	min-height:350px;
}
.contact-form {
	margin-bottom: 3.5em;
    margin-top: 1em;
}
p.your-para {
    color: #888;
  font-size: 0.9em;
  margin:0 0 5px 0;
      text-align: left;
}
.contact-grid input[type="text"], .contact-grid textarea {
  width: 100%;
  padding:0.8em;
  margin: 0 0 0.8em 0;

  background: #fff;
  outline: none;
  border: 1px solid #DADADA;
  -webkit-appearance: none;
}
.contact-grid textarea {
  resize: none;
  min-height:180px;
}
p.sed-para{
  color: #003B64;
  font-size: 20px;
  font-weight: 400;
    margin: 15px 0;
	    text-align: left;
}
p.para1{
  color: #999;
    font-size: 0.95em;
    line-height: 1.8em;
	    text-align: left;
}
.address-more,.address-left{
	float:left;
	width:40%;
}
.contact-grid {
  padding-left: 0;
}
.address-more p, .address-left p{
	  width: 100%;
  color: #888;
  font-size: 0.9em;
  line-height: 1.8em;
      text-align: left;
}
.address-left p a {
  color: #999;
        font-size: 1.1em;
    line-height: 1.8em;
}
.address-left p a:hover {
	color: #fb0a2a;
}
.more-address{
	padding:2em 0;
} 
.send input[type="submit"] {
    font-size: 1em;
    background: #003B64;
    padding: 0.7em 2em;
    text-align: center;
    color: #fff;
    border: none;
    outline: none;
    text-transform: uppercase;
    -webkit-appearance: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    letter-spacing: 1px;
	    font-family: 'Open Sans', sans-serif;
}
.send input[type="submit"]:hover {
	    background-color: #fff200;
		color:#003B64;
}
.contact h3 {
	  font-size: 2.3em;
  color: #000;
  text-align: center;
  margin: 0 0 1em 0;
  font-weight: 600;
  text-transform: capitalize;
}
p.love {
    text-align: left;
    font-size: 1.5em;
    font-weight: 600;
    color: #D82E2E;
}
.contact h4 {
	  font-size: 2.3em;
  color: #000;
  text-align: center;
  margin: 1em 0;
  font-weight: 600;
  text-transform: capitalize;
}
.privicy_policy {
	padding:1em;
}
/*--public-page-starts--*/
.public-relations {
	padding:1em;
}
.public-relations img {
	width:100%;
}
/*-- news --*/
.news-grids{
	margin-top:2em;
	padding: 2em;
}
.news-left{
	padding-left:0;
}
.news-right{
	padding-left:1em;
}
.news-left h3{
	font-size: 20px;
	color: #007DD3;
	margin: 0 0 .5em 0;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
}
.news-left ol{
  padding: 0;
  margin: 1em 0 0 0;
}
.news-left ol li{
	  font-size: 0.95em;
  color: #000;
  margin: 0 0 .5em 1em;
  line-height: 1.8em;
  font-family: 'Open Sans', sans-serif;
}
.news-right ol li a{
	  font-size: 0.98em;
  color: #000;
  margin: 0 0 .5em 1em;
  line-height: 1.8em;
  font-family: 'Open Sans', sans-serif;
}
h3.p-c-text {
	margin-top: 1em;
	font-size: 2.2em;
	color: #0e5268;
	font-weight: 600;
}
/*--public-page-end--*/
ul.tabs-menu {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0px;
  top: 0;
  width: 15%;
  text-align: left;
}
ul.tabs-menu li{
	display: block;
	float:none;
}
ul.tabs-menu li a{
	  font-size: 1.1em;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0.5em 0em;
  width: 100%;
  text-decoration: none;
  color: #000;
  display: inline-block;
  padding-right: 20%;
  text-align: right;
}
ul.tabs-menu li a:hover{
	color:#282828;
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
.tab-grid {
  padding-left: 2.8em;
}
.tabs-box {
  	width: 100%;
  	margin: 3em auto 0;
  	padding: 0 0 1em;
  	position: relative;
}
.tab-grids {
  	min-height: 300px;
  	margin-left: 6em;
  	width: 85%;
  	float: right;
  	border-left: 3px solid #e8e8e8;
}
.tab-grid h5 {
	font-size: 2em;
    color: #0e5268;
    font-weight: 600;
}
.tab-grid p {
	font-size:1.1em;
	margin:10px 0;
	line-height:1.8em;
}
.tab-grid a {
	  display: block;
  font-size: 1.1em;
  font-weight: 400;
  margin: 15px 5px;
  color: #007DD3;
}
.about-section {
	padding: 0 1em;
}
/*-- tabs-responsive --*/
@media(max-width:1366px){
	ul.tabs-menu {
		left: 0px;
	}
}
@media(max-width:1280px){
	ul.tabs-menu {
  		left: 3em;
	}
	.tab-grids {
		margin-left: 5.5em;
	}
}
@media(max-width:1024px){
	ul.tabs-menu {
		left: 0px;
		width: 12%;
	}
	.tab-grids {
		margin-left: 0em;
	}
	ul.tabs-menu li a {
		padding-right: 0;
	}		
}
@media(max-width:768px){
	ul.tabs-menu {
		left: 0px;
		width: 12%;
	}
	.tab-grids {
		margin-left: 4em;
	}
}
@media(max-width:640px){
	ul.tabs-menu {
		left: 0px;
		width: 16%;
	}
	.tab-grids {
		margin-left: 4.5em;
	}
}
@media(max-width:480px){
	ul.tabs-menu {
		left: 0px;
		width: 21%;
	}
	.tab-grids {
		margin-left: 4.5em;
	}
	.tab-grid h3 {
		font-size: 0.9em;
		padding: 0.5em 0 0.5em;
	}
	.tab-grid p{
		font-size:0.875em;
	}
}
@media(max-width:320px){
	ul.tabs-menu {
		left: 0px;
		width: 23%;
	}
	.tab-grids {
		margin-left: 3em;
	}
	.tab-grid h3 {
		font-size: 0.9em;
		padding: 0.5em 0 0.5em;
	}
	.tab-grid p{
		font-size:0.875em;
	}
}
/*--tab-end--*/

/*--press-page-end--*/
/*Custom*/
.modal-dialog{
		margin-right:55px;
}
/*Movie page*/
.big-box{
	position: relative;
}
.small-box,.small-box-heading,.movie-type,.movie-type1,.movie-type2{
	
	
	z-index: 3;
	position: absolute;
	
}
.small-box{
	top: 200px;
}
.small-box img{
width:270px;
	height:370px;
}
.small-box-heading{
	
	top: -10px;
	color: white;
	right: -180px;
	font-weight: 600;
} 
.movie-type{
	color: white;
	top:40px;
	right: -100px;

}
.movie-type1{
	color: white;
	top:80px;
	right: -80px;
}

.movie-type2{
	color: white;
	top:120px;
	right: -110px;
	font-size: 18px;
}
.ratings{
	padding-left: 250px;
	background: #f9f8f8;
}
.ratings li{
	list-style: none;
	display: inline-block;
	font-size: 18px;
	padding-left: 80px;
	padding-bottom: 30px;
}
.like{
	color: red;
	font-size:22px;
}
.heart{
position:relative;
top:-20px;
}
.like-star{
	color: goldenrod;
}
.btn1{
	background: #d7263d;
	color: #f9f8f8;
	margin-left:270px;
	margin-top: 30px;
	font-size: 16px;
	overflow: none;
	border: none;
	padding:12px 55px;

}
.btn1:hover{
	background:#f7263d;
	color: white
	
}
.synopsis{
	padding:65px;
	margin-right:40px;
}
.row,.synopsis-heading,.synopsis-para{
	padding-bottom: 10px;
}
.synopsis-para{
	text-align: justify;
	font-size:15px;
}
.synopsis-para b{
	color: #d7263d
}
/*dynamic cards*/
.card-movie
{
    height: 350px;
    width: 250px;
    display: inline-block;
    margin-right: 20px;
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 20px;
/*    background: aqua;*/
	background: #f9f8f8;
    float: left;

}
.card-movie img:hover{
	opacity: 0.8;
}
.card-movie img{
	border-radius: 15px;
}

.card-movie>.movie-details>p
{
    font-size: 15px;
    color: #000;
    margin: 10px;
}
.card-movie>.movie-details>p>span
{
    color: red;
    font-size: 17px;
    margin-left: 10px;
    
}
/*shows*/
.small-box2,.small-box2-heading,.movie-types,.movie-types1,.movie-types2{
	
	
	z-index: 3;
	position: absolute;
	
}
.small-box2{
	top:-20px;
}
.small-box2 img{
width:270px;
	height:370px;
}
.small-box2-heading{
	
	top: 10px;
	color:black;
	right: -180px;
	font-weight: 600;
} 
.movie-types{
	color:black;
	top:60px;
	right: -100px;

}
.movie-types1{
	color:black;
	top:100px;
	right: -80px;
}

.movie-types2{
	color:black;
	top:140px;
	right: -110px;
	font-size: 18px;
}
.breadcrumb{
	 
	padding:25px;
}
.show-time{
	width: 50px;
	height: 40px;

	margin-left:90px;
	font-size: 17px;
	background-color: white;
	padding: 10px;
	border: 1px solid #bbb;
	color: black;
	text-decoration: none;
	border-radius: 10px;
}
/*Payment*/
.booking-summary{
	background: #f2f2f2;
}
.booking-summary-wrap{
	text-align: center;
	margin:160px auto;
	    border: 1px solid #dfe3e7;
}
.payment-heading{
font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 25px;
    text-align:center;
    color: #c02c39;
}
.booking-details{
	font-size: 16px;
	font-weight: 300px;
}
.booking{
	position: relative;
    padding: 30px 25px;
    background: #fff;
}
.circle-left, .circle-right{
	position: absolute;
	display: inline-block;
    top: 50%;
    z-index: 1;
    width: 55px;
    height: 55px;
    background: #f2f2f2;
    border-radius: 50%;

}
.circle-left{
	left: -35px;
   
    box-shadow: inset -1px 0 0 #dfe3e7;
}
.circle-right{
	right:-35px;
    
    box-shadow: inset 1px 0 0 #dfe3e7;
}
/*Seat***********************************************************/
section {
    display: block;
}

ol,
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}

td {
    width: 40px;
    font-weight: 600;
    font-size: 1em;
    padding-top:15px;
    height: 24px;
    color:#0e5268;
}

/*--start editing from here--*/

a {
    text-decoration: none;
}

.txt-rt {
    text-align: right;
}

/* text align right */

.txt-lt {
    text-align: left;
}

/* text align left */

.txt-center {
    text-align: center;
}

/* text align center */

.float-rt {
    float: right;
}

/* float right */

.float-lt {
    float: left;
}

/* float left */

.clearfix {
    clear: both;
}

/* clear float */

.pos-relative {
    position: relative;
}

/* Position Relative */

.pos-absolute {
    position: absolute;
}

/* Position Absolute */

.vertical-base {
    vertical-align: baseline;
}

/* vertical align baseline */

.vertical-top {
    vertical-align: top;
}

/* vertical align top */

nav.vertical ul li {
    display: block;
}

/* vertical menu */

nav.horizontal ul li {
    display: inline-block;
}

/* horizontal menu */

img {
    max-width: 100%;
}

/*--end reset--*/

button.w3l-cart {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
    outline: none;
}

body a:hover {
    text-decoration: none;
}

.clearfix {
    clear: both;
}

/* content */

body {
    background: url(../images/banner.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
    font-family: 'Source Sans Pro', sans-serif;
	overflow-x: none;
}



.w3ls-reg {
    width: 700px;
    margin: 0 5vw;
    background:#f9f8f8;
    padding: 3.5vw;
    box-sizing: border-box;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}

.container {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-pack: center;
    
    justify-content: center;
}

h1 {
    font-size: 2.9em;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    text-shadow: 4px 3px 1px rgba(0, 0, 0, 0.22);
    letter-spacing: 2px;
    text-align: center;
    margin: 0.8em 1vw .9em;
    font-family: 'Source Sans Pro', sans-serif;
}

/*
h2 {
    color: #ff9800;
    text-transform: capitalize;
    margin-bottom: 25px;
    font-size: 1em;
    letter-spacing: 0.5px;
    line-height: 1.7;
}
*/



li.smallBox {
    text-align: left;
    display: inline-block;
    margin-right: 1em;
    color: #fff;
}

.tw {
    width: 50%;
}

label {
    font-size: 1em;
    color:#0e5268;
    font-weight: 600;
}

input[type="text"],
input[type="number"] {
    padding: 1em;
    width: 80%;
    background: transparent;
    border: 1px solid #bbb;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    margin-top: 10px;
    color:#000;
}

button {
    background:#0e5268;
    border:1px solid #bbb;
    color:white;
    font-weight: 600;
    padding: 8px 20px;
    border-radius: 10px;
    font-size: 1em;
    letter-spacing: 1px;
    font-family: 'Source Sans Pro', sans-serif;
    cursor: pointer;
}



.screen {
    width: 100%;
    background:;
    margin: 2em 0;
}

h2.wthree {
    padding: 0.8em;
    font-size: 1.2em;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 7px;
    word-spacing: 10px;
}

.smallBox::before {
    content: "";
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 10px;
}

.greenBox::before {
    content: "";
    background:#2dc492;
}

.redBox::before {
    content: "";
    background:#bbb;
}

.emptyBox::before {
    content: "";
    box-shadow: inset 0px 2px 3px 0px, #0e5268, 0px 1px 0px 0px rgba(255, 255, 255, .8);
    background-color: #fff;
}

.seats {
    border: 1px solid #d7263d;
    background:#bbb;
}

.seatGap {
    width: 40px;
}

.seatVGap {
    height: 40px;
}

table {
    text-align: center;
}

.Displaytable {
    text-align: center;
   
}

.Displaytable td,
.Displaytable th {
    width: 100%;
    padding: 7px 6px;
    color: #000;
    font-weight: 600;
	border:1px solid #bbb;
}

table.Displaytable tr {
    background: #f9f8f8;
    color: #fff;
}

textarea {
    border: none;
    background: transparent;
    resize: none;
}

input[type=checkbox] {
    width: 13px;
    margin-right: 14px;
    cursor: pointer;
}

input[type=checkbox]:before {
    content: "";
    width: 25px;
    height: 18px;
    border-radius: 3px;
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 5px;
    /* Firefox 1-3.6 */
    -moz-border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #bbb;
/*    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);*/
    
    background-color: #ffffff;
}

input[type=checkbox]:checked:before {
    background-color:#2DC492;
    font-size: 15px;
}

.copy-wthree p {
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 600;
    line-height: 1.7;
    padding:0 1em;
}

.copy-wthree p a {
    color: #fff;
}

.copy-wthree {
    margin: 3em 0em;
    text-align: center;
}

.displayerBoxes {
    margin-top: 2em;
}

/*--responsive--*/

@media(max-width:1920px) {
    h1 {
        font-size: 3.5vw;
    }
}

@media(max-width:1024px) {
    h1 {
        font-size: 4.5vw;
    }
}

@media(max-width:800px) {
    h1 {
        font-size: 5vw;
    }
}

@media(max-width:667px) {
    h2.wthree {
        padding: 0.7em;
        font-size: 1em;
    }
}

@media(max-width:600px) {
    .w3ls-reg {
       width: 500px;
    }
}

@media(max-width:568px) {
    .mr_agilemain {
        display: block;
    }
    input[type="text"],
    input[type="number"] {
        padding: 10px 15px;
        width: 100%;
    }
}

@media(max-width:480px) {
    .w3ls-reg {
       width: 450px;
    }
    h1 {
        font-size: 2.5em;
    }
    .w3ls-login form {
        padding: 7.5vw;
    }
}

@media(max-width:440px) {
    h1 {
        font-size: 2.3em;
    }
}

@media(max-width:414px) {
    h1 {
        font-size: 2em;
    }
   .w3ls-reg {
       width: 370px;
    }
    input[type="text"],
    input[type="number"] {
        width: 92%;
    }
    li.smallBox {
        margin: 1em 0 0;
        display: block;
    }
}

@media(max-width:384px) {
    h1 {
        font-size: 1.9em;
    }
    .w3ls-reg {
       width: 350px;
    }
    h2.wthree {
        padding: 0.5em;
    }
}

@media(max-width:320px) {
    h1 {
        font-size: 1.5em;
    }
    .w3ls-reg {
       width: 280px;
    }
    input[type="text"], input[type="number"] {
        width: 88%;
    }
    h2.wthree {
        font-size: 0.95em;
        letter-spacing: 5px;
    }
    .copy-wthree p {
        padding: 0 0.5em;
    }
}
.pay-details{
    padding-top: 10px;
}
.pay-details label{
    padding-right: 15px;
    font-size: 16px;
}
.total{
    font-size: 18px;
    letter-spacing: 1.5px;
    color:#0e5268;
}
.btn:hover{
    background: #f7263d;
    color: white;
}
.notloggenin{
	background: lightgreen;
	width: 400px;
	height: 400px;
	margin: auto;
	border: solid 2px green;
}